body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 231, 231);
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.weatherForm{
    margin:20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 20%);
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 20%);
    margin: 10px;
    background-color: hsl(120, 39%, 50%);
    color: white;
    cursor: pointer;
    border: none;
}
button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}
.card{
    background: linear-gradient(180deg,hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.cardBlock{
    display:block;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
h2{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-family: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 20px;
}
.descDisplay{
    font-size: 2rem;
   font-weight: bold;
    font-style: italic;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
     color: hsl(0, 0%, 0%, 75%);
     font-weight: bold;
}